@model VousEtesLeHeros.Models.BO.Personnes.Personne

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intelligence" class="control-label"></label>
                <input asp-for="Intelligence" class="form-control" />
                <span asp-validation-for="Intelligence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dexterite" class="control-label"></label>
                <input asp-for="Dexterite" class="form-control" />
                <span asp-validation-for="Dexterite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Force" class="control-label"></label>
                <input asp-for="Force" class="form-control" />
                <span asp-validation-for="Force" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vie" class="control-label"></label>
                <input asp-for="Vie" class="form-control" />
                <span asp-validation-for="Vie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Niveau" class="control-label"></label>
                <input asp-for="Niveau" class="form-control" />
                <span asp-validation-for="Niveau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriePersonneID" class="control-label"></label>
                <select asp-for="CategoriePersonneID" class ="form-control" asp-items="ViewBag.CategoriePersonneID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
